
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Agent Game</title>
</head>

<body>
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <div id="dev" style="width: 90vw; height:90vh; border: 1px solid black;"></div>
    </div>
    <script type="module">
        import Game_Interface from '/static/scripts/Game_Interface.js';

        const container = document.getElementById("dev");
        const game_interface = new Game_Interface(container);
        game_interface.render()
    </script>
</body>

</html>
