<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with JS Imports</title>
</head>
<body>
    <h1>Flask with JavaScript Imports</h1>
    <div id="dev"></div>
    <script type="module">
        import ButtonList from '/static/scripts/ButtonList.js';

        const container = document.getElementById("dev");
        const buttonList = new ButtonList(container, "button 1", "button 2");
        buttonList.render()
    </script>
</body>
</html>
